#root,
.App,
.VideosContainer {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.VideosContainer {
  display: inline-flex;
  flex-wrap: wrap;
  width: 76%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  float: left;
  overflow: hidden;
}

.Chats {
  border: solid grey 1px;
  display: inline-block;
  width: 24%;
  overflow: auto;
}

.SingleView {
  width: 50%;
  padding: 0;
  margin: 0;
  height: 50%;
}

.Chats > iframe {
  display: table-cell;
  height: calc(100vh - 46px);
}

#chat_embed_1,
#chat_embed_2 {
  display: none;
}

.SingleView > div {
  height: 100%;
}

.ChatButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 40px;
}

.ChatButton {
  display: inline-block;
  border: solid grey 1px;
  width: 50%;
}

.tw-pd-1 {
  top: 200px;
}

.Streaming {
  display: inline-block;
  border: solid 1px red;
  width: 35%;
}

.streamingImg {
  width: 100%;
}

.streamerImg {
  width: 50px;
  display: inline-block;
}

.streamingInfo {
  display: inline-block;
  font-size: 0.9em;
}

.streamingTitle,
.streamerName,
.streamingGame
 {
  margin: 2px;
}

.streamingTitle {

}

.streamerName {
}

.streamingGame {
}

.streamingLanguage {
  position: absolute;
  right: 0;
  font: bold;
  color: white;
}
