#root,
.App,
.VideosContainer {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.VideosContainer {
  display: inline-flex;
  flex-wrap: wrap;
  width: 75%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  float: left;
}

.Chats {
  border: solid red 1px;
  display: inline-block;
  width: 24%;
  height: 90vh;
}

.SingleView {
  width: calc(100% * (1/2));
  padding: 0;
  margin: 0;
  height: 50%;
}

#chat_embed_1,
#chat_embed_2 {
  display: none;
}

.SingleView > div {
  height: 100%;
}

.chatButton {
  display: inline-block;
  border: solid grey 1px;
  width: 50%;
}
